WORDPRESS_DB_NAME=gardafrigo
WORDPRESS_DB_USER=gardafrigo
WORDPRESS_DB_PASSWORD=change-me
WORDPRESS_DB_ROOT_PASSWORD=change-root-me
WORDPRESS_PORT=8080
WORDPRESS_TITLE="Garda Frigor"
WORDPRESS_ADMIN_USER=admin
WORDPRESS_ADMIN_PASSWORD=change-admin-me
WORDPRESS_ADMIN_EMAIL=admin@example.com
AVADA_LICENSE_KEY=
