.env
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
wp-content/ai1wm-backups/
wp-content/debug.log
wp-content/index.php
wp-content/plugins/*
!wp-content/plugins/.gitkeep
wp-content/themes/Avada/
wp-content/themes/avada/
wp-content/themes/index.php
wp-content/themes/twentytwenty*/
wp-content/plugins/fusion-builder/
wp-content/plugins/fusion-core/
wp-content/plugins/revslider/
avada-packages/*.zip
db-data/
.DS_Store
